// @import "../../../common-styles/Common.scss";

.navHeader-main {
  margin-top: 8px;
  .navHeader {
    margin-bottom: 5px;
    .ant-input-affix-wrapper,
    input {
      background: #f5f9fd 0% 0% no-repeat padding-box;
      border-radius: 7px;
    }

    .title {
      padding-left: 30px;
      .heading {
        text-align: left;
        font-size: 24px;
        font-weight: bolder;
        letter-spacing: 0px;
        color: #11141a;
        opacity: 1;
        padding-bottom: 0px;
      }
      .subheading {
        text-align: left;
        font-size: 14px;
        letter-spacing: 0px;
        color: #7f8fa4;
        opacity: 1;
      }
    }
    .navbar {
      display: flex;
      position: relative;
      justify-content: flex-end;
      gap: 10px;
      .icon {
        padding: 0.5rem;
        background: #fefeff 0% 0% no-repeat padding-box;
        box-shadow: 0px 20px 20px #2948981a;
        border-radius: 10px;
        opacity: 1;
        width: 2rem;
      }
    }
    .searchIcon {
      width: 0.8rem;
    }
  }
}
