
.MainApp {
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  background-size: cover;
  padding: 15px;
  opacity: 1;
  .main-section {
    margin-top: 20px;
  }
  .bgapp {
    z-index: -1;
    top: -1968px;
    left: -885px;
    width: 1922px;
    height: 1922px;
    position: absolute;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    background: #e2fff9 0% 0% no-repeat padding-box;
    border-radius: 140px;
  }
}
