.outer-cont {
  .template {
    z-index: 1;
    height: 10rem;
    background-color: #50dfb2;
  }

  .outer-div {
    z-index: 10;
    position: relative;
    .inner-div {
      background-color: #fff;
      width: 90%;
      margin: auto;
      position: absolute;
      left: 2rem;
      top: -1rem;
      .profile-update {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 10px;
        img {
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          object-fit: cover;
        }
        .btn-group {
          display: flex;
          gap: 10px;
          button:first-child {
            background-color: #50dfb2;
            color: #fff;
            border-radius: 25px;
          }
          button:last-child {
            color: #50dfb2;
            background-color: #fff;
            border-radius: 25px;
          }
          .ant-btn:not(:disabled):focus-visible {
            outline: 2px solid #50dfb2;
          }
          .ant-btn:not(:disabled):hover {
            // outline: 2px solid #50dfb2;
          }
        }
      }

      .user-setting-nav-menu.ant-menu-root:focus-visible {
        outline: 2px solid #50dfb2;
        border-radius: 8px;
      }
      .user-setting-nav-menu.ant-menu {
        .ant-menu-item-active {
          background-color: #50dfb2;
        }
        .ant-menu-item-selected {
          color: #50dfb2;
          background-color: #fff;
        }
        .ant-menu-item:not(.ant-menu-item-disabled):focus-visible {
          outline: 2px solid #50dfb2;
        }
      }

      .right-grid {
        border-left: 2px solid #e6e5e5;
        padding: 2rem;
        .heading {
          margin-bottom: 2rem;
        }
        .ant-form {
          .ant-form-item {
            margin-bottom: 8px;
          }
          .ant-form-item-label {
            padding: 0 0 6px;
          }
          .ant-input:hover,
          .ant-input:focus {
            border: 2px solid #50dfb2;
            box-shadow: none;
          }
          .form-control-btns {
            display: flex;
            gap: 1rem;
            .ant-btn:first-child.ant-btn-primary {
              background-color: #50dfb2;
              color: #fff;
              border-radius: 5px;
            }
            .ant-btn:last-child.ant-btn-default {
              background-color: #f6f8f9;
              border: 1px solid #f6f8f9;
              border-radius: 5px;
            }
            .ant-btn:not(:disabled):focus-visible {
              outline: 2px solid #50dfb2;
            }
          }
        }
      }
    }
  }
}
