.card-container {
  .card {
    border-radius: 20px;

    .card-wrap {
      display: flex;
      gap: 20px;
      .avatar-1 {
        background-color: white;
        font-weight: bold;
        border-radius: 12px;
        font-style: italic;
        size: 60px;
      }
      p {
        text-align: left;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: capitalize;
        opacity: 1;
        @media only screen and (max-width: 1200px) {
          font-size: 20px;
          line-height: 21px;
        }
      }
    }
    .viewlist-btn {
      text-align: right;
      p {
        color: white;
        cursor: pointer;
        display: block;
        .icon {
          position: relative;
          top: 8px;
        }
      }
    }
    @media only screen and (max-width: 900px) {
      min-height: fit-content !important;
      max-height: fit-content !important;
    }
  }
}
