.navSider-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 0px;
  .user {
    background: none;
    display: flex;
    gap: 10px;
    img {
      width: 50px;
      height: auto;
      border-radius: 10px;
      box-shadow: 0px 20px 20px #2948981a;
      object-fit: cover;
    }

    .userName {
      text-align: left;
      font-weight: bolder;
      letter-spacing: 0px;
      color: #000000;
    }

    .userDest {
      text-align: left;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0px;
      color: #9a9a9a;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;

    .ant-menu-item-selected {
      background-color: white !important;
      color: #50dfb2 !important;
    }

    .menuItems {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 34px 68px #0d2e610d;
      border-radius: 15px;
      color: black;
      font-size: 16px;

      .item-Dest {
        display: flex;
      }
      .menuItem {
        display: flex;
        align-items: center;
      }
    }

    .listItems {
      align-items: center;
      display: flex;
      gap: 10px;

      &:focus,
      &:active,
      &::selection {
        color: #50dfb2;
      }

      .logout {
        background: #50dfb2 0% 0% no-repeat padding-box;
        border-radius: 10px;
        width: 2rem;
        height: 2rem;
        align-items: center;
        display: flex;
        justify-content: center;
        .icon {
          width: 1rem;
        }
      }
      .logoutText {
        display: flex;
        flex-direction: column;
        align-self: center;
        line-height: 1rem;
        :nth-child(1) {
          font-size: 14px;
        }
        :nth-child(2) {
          font-size: 10px;
          opacity: 0.4;
        }
      }
    }
    .userName {
      text-align: left;
      font-size: 20px;
      letter-spacing: 0px;
      color: #000000;
    }
  }

  .navimg {
    width: auto;
    height: 250x;
    background: #fdf2ff 0% 0% no-repeat padding-box;
    border-radius: 25px;
    padding: 20px;

    p {
      font-size: 20px;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      color: #178472;
    }

    .img {
      background: transparent url("")
        0% 0% no-repeat padding-box;
      width: 180px;
      height: 150px;
      left: 50px;
    }
  }
}
