.dashboard {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  //   .dashboardItem {
  //     padding: 10px;
  //     background: #FFFFFF 0% 0% no-repeat padding-box;
  //     box-shadow: 0px 34px 68px #0D2E610D;
  //     border-radius: 15px;
  //   }
  //   .btngrp {
  //     float: right;
  //     display: flex;
  //     gap: 10px;
  //   }
  //   .Header {
  //     display: inline-flex;
  //     align-items: center;
  //   }
}
